.section-rewards {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 415px;
}

.section-rewards__title_special {
    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 60px;
/* or 62% */

text-align: center;

color: #E67136;
}