.section-rewards {
    background-color: #F5F4F4;;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 415px;
}

.section-rewards__title_special {
    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 700;
font-size: 6rem;
line-height: 60px;
/* or 62% */

text-align: center;

color: #E67136;
}

.section-rewards__title {
margin: 0;
padding-top: 4%;

    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 400;
font-size: 4rem;
line-height: 60px;
/* or 94% */

text-align: center;

color: #000000;
}

.section-rewards__subtitle_one {
margin: 0;
padding-top: 2.5%;

    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 20px;
/* or 83% */

text-align: center;

color: #000000;
}

.section-rewards__subtitle_two {
margin: 0;
padding: 1%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
    /* or 125% */
    
    text-align: center;
    
    color: #000000;
}

.section-rewards__button {
    font-family: 'Open Sans';
    font-weight: 600;
font-size: 1.125rem;
line-height: 25px;
color: #FFFFFF;
}

.explore-rewards-button {
    height: min-content;
    width: 18%;
    align-self: center;
}

.section-rewards__button_block {
    padding: 3%;
}


@media screen and (min-width:320px) and (max-width:480px) {

    .section-rewards {
        margin-left: 7%;
        background-color: #F5F4F4;;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 415px;
        width: 284px;
    }

    .section-rewards__title_special {
        font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 60px;
    /* or 62% */
    
    text-align: center;
    
    color: #E67136;
    }

    .section-rewards__title {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 3%;
        
            font-family: 'Crimson Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1px;
        /* or 94% */
        
        text-align: center;
        
        color: #000000;
        }

        .section-rewards__subtitle_one {
            margin: 0;
            padding-top: 7%;
            padding-left: 10%;
            padding-right: 10%;

            font-family: 'Crimson Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 20px;
            /* or 111% */

            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
        }

        .section-rewards__subtitle_two {
            margin: 0;
            padding-top: 2%;
            padding-left: 10%;
            padding-right: 10%;
            
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 20px;
                /* or 125% */
                
                text-align: center;
                
                color: #000000;
            }

            .section-rewards__button {
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 0.5rem;
                line-height: 25px;
                color: #FFFFFF;
                @include button (1em, 2.5em);
            }
            
            .explore-rewards-button {
                min-width: 40%;
                align-self: center;
                height: max-content;
            }

            .section-rewards__button_block {
                padding-top: 12%;
            }
}