.section-rewards {
    background-color: rgb(18, 0, 35);
}
.section-rewards__title_special {
    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 60px;
/* or 62% */

text-align: center;

color: #E67136;
}