.section-brands {
    background: rgba(217, 217, 217, 0.2);
  }
  .section-tools__title {
  
    font-family: 'Crimson Pro';
    font-weight: 700;
    font-size: 48%;
    line-height: 53%;
    text-align: center;
    color: #E67136;
    }