//Desktop
//Структура всего контейнера content
.content{
    display: grid;
    height: 2426px;
    grid-template-areas: "content-item-one" "content-item-two" "content-item-three";
    grid-template-rows: 31% 31% 31%;
    align-content: space-between;
}

.content-item-one{
    grid-area: content-item-one;
    background-color: #F5F4F4;
}
.content-item-two{
    grid-area: content-item-two;
    background-color: #F5F4F4;
}
.content-item-three{
    grid-area: content-item-three;
    background-color: #F5F4F4;
}

//Структура каждого элемента из трех

//первый элемент
.content-item-one{
    display: grid;
    grid-template-areas: "content__text__title-one item-image-one" 
    "content__text__subtitle-one item-image-one" 
    "content__text__desc-one item-image-one"
    "item-one-button item-image-one";
    grid-template-columns: 60% 1fr;
    grid-template-rows: 10% 10% min-content 4% ;
    text-align: center;
}
.content__text__title-one{
    grid-area: content__text__title-one;
}
.content__text__subtitle-one{
    grid-area: content__text__subtitle-one;
}
.content__text__desc-one{
    grid-area: content__text__desc-one;
}
.item-one-button{
    grid-area: item-one-button;
}
.item-image-one{
    grid-area: item-image-one;
}

.item-image-one{
    max-width: 100%;}

.content__text__desc-one{
padding: 0 8% 7% 13%;
}
.content__text-one{
    padding-top: 8%;
    padding-left: 5%;
}
.item-one-button{
    width: 18%;
    height: min-content;
    justify-self: center;
}

.content__text__title-one, .content__text__desc-one, .content__text__subtitle-one{
    padding-top: 6%;
}

//styles

.content__text__title{
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 25px;
    color: #E67136;
}
.content__text__subtitle-one{
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 25px;
    color: #000000;
}
.content__text__desc{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 40px;
    color: #000000;
    }

.content__button{
    font-family: 'Open Sans';
    font-weight: 600;
font-size: 1.125rem;
line-height: 25px;
color: #FFFFFF;
}


//второй элемент
.content-item-two{
    display: grid;
    grid-template-areas: "content__image-two" "content__text-two";
    grid-template-columns: 1fr 60%;
    text-align: center;
}

.item-image-two{
    max-width: 100%;
    padding-top: 7%;
}
.content__text-two{
    padding: 6% 14% 0 16%
}
.content__text__desc-two{
    padding-bottom: 9%;
    }
.content__text__title-two{
    line-height: 115%;
}

//третий элемент
.content-item-three{
    display: grid;
    grid-template-areas: "content__text-three" "content__image-three";
    grid-template-columns: 60% 1fr;
    text-align: center;
}

.item-image-three{
    max-width: 100%;
    padding-top: 7%;
}
.content__text-three{
    padding-top: 6%;
    padding-right: 2%;
}
.content__text__title-three{
    padding: 0 40% 0 35%;
    line-height: 120%;
    margin-bottom: 0;
}

.content__text__subtitle-three{
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 25px;
    color: #E67136;
    padding: 0 10% 0 5%;
    margin-top: 2%;
}

.content__text__desc-three{
    padding: 0 7.5% 7% 8%;
    }


    //Для мобильной версии

    @media screen and (min-width:320px) and (max-width:480px) {

        .content{
            min-height: 2451px;
        }

        //первый элемент
.content-item-one{
    display: flex;
    flex-direction: column;
width: 100vw;
}

.content__image-one{
    order: -1;
}
.content__text__title-one{
    order:-2;
    padding-bottom: 5%;
    background-color: #FFFFFF;
    margin: 3% 0 3% 0;
    padding: 5% 5% 5% 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-one-button{
min-width: 40%;
align-self: center;
height: max-content;
}
.content__text__desc-one{
    padding: 0 8% 9% 13%;
    margin: 0;
    }
.content__text__desc-one, .content__text__subtitle-one{
    padding-top: 3%;
}


        .item-image-one, .item-image-two, .item-image-three{
            width: 17.75rem;
            height: 13.125rem;
            object-fit: none;
            border-radius: 295px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

//второй элемент
.content-item-two{
    display: grid;
    grid-template-areas: "content__image-two" "content__text-two";
    grid-template-rows: 35% 1fr;
    grid-template-columns: 100vw;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.content__image-two{
    grid-area: content__image-two;
}
.content__text-two{
    grid-area: content__text-two;
    padding: 0 10% 0 10%;
}
.content__text__title-two{
    margin: 0;
}


//треьтй элемент
.content-item-three{
    display: flex;
    flex-direction: column;
width: 100vw;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.content__image-three{
    order:-1;
}

.content__text__subtitle-three{
    padding-bottom: 5%;
}


.content__text__title, .content__text__subtitle-three{
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 20px;
    color: #E67136;
    &.content__text__title-two{
        line-height: 28px;
    }
    &.content__text__title-three{
        line-height: 30px;
    }
}
.content__text__subtitle-one{
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 20px;
    color: #000000;
}
.content__text__desc{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 30px;
    color: #000000;
    &.content__text__desc-one{
        line-height: 35px;
    }
    &.content__text__desc-three{
        font-family: 'Crimson Pro', serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 25px;
    color: #000000;
    }
    }

.content__button{
    font-family: 'Open Sans';
    font-weight: 600;
font-size: 1.125rem;
line-height: 25px;
color: #FFFFFF;
@include button (1em, 2.5em);
}

} 

//добавлено только для того, чтобы текст помещался при уменьшении

@media screen and (min-width: 481px) and (max-width: 1139px){
    .content__text__title-two{
        font-size: 4vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 630px){
    .content__text__title-three, .content__text__subtitle-three{
        font-size: 4vw;
    }
}