.header {
    display: grid;
    text-align: center;
    max-height: 120vh;
    grid-template-rows: 0.5fr 5.5fr;
}

.header__text {
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
}

.header__image {
    margin: 1em;
}

p {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 40px;
}

.colortext {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #E67136;
}